<div class="container-fluid">
    <div class="card m-4">
        <div class="card-header text-center">
            <h3>Courses</h3>
        </div>
        <div id="accordion">
            <div class="p-2" *ngFor="let category of courses;let i=index">
                <div class="card p-3">
                    <a data-toggle="collapse" class="text-capitalize font-weight-bolder" data-parent="#accordion"
                        href="#collapse{{i}}">{{category.name}}</a>

                    <div id="collapse{{i}}" class="panel-collapse collapse in">
                        <div class="ml-4" *ngIf="category.courses?.length==0">
                            No files available
                        </div>
                        <div class="ml-4" *ngFor="let course of category.courses;let j=index">

                            <span class="doc_position">{{j+1}}). </span>
                            <span class="doc_position col-4">{{course.title}}</span>
                            <span class="material-icons px-3 cursor-pointer"
                                (click)="downloadCourse(course.course_document.url,course.course_document.name )">
                                get_app
                            </span>
                            <a href="{{httplink}}{{course.course_document.url}}" target="_blank"><span
                                    class="material-icons">
                                    visibility
                                </span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="float-right mr-4">
        <button mat-raised-button color="primary" (click)="openDialog()">Add Library</button>
    </div>
    <div class="row">
    <div class="col-4 ml-4">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                       Courses
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p> <mat-expansion-panel style="box-shadow: none;">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Python
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>pylint</p>
                    </mat-expansion-panel></p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>

</div>